* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  color: white;
  background: black;
  padding: 15px;
}

.list {
  padding-left: 20px;
  border-bottom: 1px solid lightgray;
}

.list > h4, .list > p {
  margin-top: 15px;
}